<div class="commentaries">
  <div class="header">
    <img src="../../assets/avatar.png" alt="User">
    <div class="info">
      <h3>Diogo Martins</h3>
      <h4>Programador</h4>
    </div>
  </div>

    <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

    <hr/>

    <div class="footer">
      <div class="left">
        <div>
          <ion-icon name="eye"></ion-icon>
          <span>43</span>
        </div>
        <div class="last">
          <ion-icon name="bookmark"></ion-icon>
          <span>2</span>
        </div>
      </div>
      <div class="right">
        <ion-icon name="chevron-up"></ion-icon>
        <p>+12</p>
        <ion-icon name="chevron-down"></ion-icon>
      </div>
    </div>
</div>
