<app-header-new-details></app-header-new-details>

<ion-content *ngFor="let new of news">
  <div class="container">
    <h1>{{ new.titulo }}</h1>

    <img src="{{ new.multimediaPrincipal }}" alt="{{ new.titulo }}" />
    <div class="details">
      <p>{{ new.autores[0].nome }}</p>
      <p>{{new.data | date:'dd-MM-yyyy'}}</p>
    </div>
    <p>{{ new.descricao }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda saepe ipsam iste, eius maxime natus quis ratione, dolore sint mollitia accusamus omnis quos accusantium dolorum excepturi provident dignissimos? Quo, quidem!</p>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
