.container {
  background: #202125;
  padding: 1rem;

  .category {
    display: inline-block;
    padding: 8px 16px;
    background: #181e7a;
    border-radius: 8px;
  }

  h1 {
    margin: 0;
  }

  .description {
    text-align: justify;
    color: #a7a7a7;
  }

  .authors {
    display: flex;
    align-items: center;

    p, span {
      color: #a7a7a7;
      font-size: 14px;
    }

    span {
      margin: 0 8px;
    }
  }

  img {
    border-radius: 8px;
  }

  .body {
    text-align: justify;
  }

  hr {
    background-color: #a7a7a7;
    height: 1px;
    border: 0;
    margin: 0 16px;
  }

  h6 {
    margin-top: 16px;
    font-size: 22px;
  }
}

ion-fab {
  margin-bottom: 65px;
}
