<app-header-new-details></app-header-new-details>

<ion-content *ngFor="let new of news">
  <div class="container">
    <p class="category">{{ new.tags[0].nome }}</p>

    <h1>{{ new.titulo }}</h1>
    <p class="description">{{ new.descricao }}</p>

    <div class="authors">
      <p>por {{ new.autores[0].nome }}</p>
      <span>•</span>
      <p>{{ new.data | date: "M/d/yy, h:mm:a" }}</p>
    </div>

    <img src="{{ new.multimediaPrincipal }}" alt="{{ new.titulo }}">

    <p class="body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione harum minus nihil nisi quam nostrum. Et provident ea deserunt repellendus vitae sunt non, magni harum fugiat, nesciunt nisi cupiditate expedita?</p>

    <hr/>

    <h6 class="separator">Comentários</h6>

    <app-commentaries></app-commentaries>
    <app-commentaries></app-commentaries>
    <app-commentaries></app-commentaries>

    <h6 class="separator">Deixe o seu comentário</h6>

    <div class="commentary_input">
      <textarea name="commentary" id="" cols="30" rows="10" placeholder="Deixe o seu comentário aqui..."></textarea>
      <button>
        Enviar
        <ion-icon name="send-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
<app-tabs></app-tabs>
