<app-header></app-header>

<ion-content class="new-bg">
  <div class="container" >
    <div class="card" routerLink="/desporto">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Saúde</h1>
      <ion-icon name="medkit-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Política</h1>
      <ion-icon name="people-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Saúde</h1>
      <ion-icon name="medkit-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Política</h1>
      <ion-icon name="people-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Saúde</h1>
      <ion-icon name="medkit-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Política</h1>
      <ion-icon name="people-outline"></ion-icon>
    </div>

    <div class="card">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div>
  </div>
</ion-content>

<app-tabs></app-tabs>

