<app-header-categories></app-header-categories>

<ion-content class="new-bg">
  <div class="container" >
    <div class="card popular" routerLink="/popular">
      <h1>Popular</h1>
      <ion-icon name="trending-up-outline"></ion-icon>
    </div>

    <div class="card popular" routerLink="/popular">
      <h1>Popular</h1>
      <ion-icon name="trending-up-outline"></ion-icon>
    </div>

    <div class="card default" routerLink="/saude">
      <h1>Saúde</h1>
      <ion-icon name="medkit-outline"></ion-icon>
    </div>

    <div class="card futebol" routerLink="/desporto">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>

    <div class="card default" routerLink="/politica">
      <h1>Política</h1>
      <ion-icon name="people-outline"></ion-icon>
    </div>

    <div class="card futebol" routerLink="/desporto">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>

    <div class="card default" routerLink="/mundo">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div>

    <div class="card teste" routerLink="/mundo">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div>

    <div class="card futebol" routerLink="/desporto">
      <h1>Desporto</h1>
      <ion-icon name="football-outline"></ion-icon>
    </div>


    <!-- <div class="card default">
      <h1>Saúde</h1>
      <ion-icon name="medkit-outline"></ion-icon>
    </div>

    <div class="card default">
      <h1>Política</h1>
      <ion-icon name="people-outline"></ion-icon>
    </div>

    <div class="card default">
      <h1>Mundo</h1>
      <ion-icon name="globe-outline"></ion-icon>
    </div> -->
  </div>
</ion-content>

<app-tabs></app-tabs>

