.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 16px;

  background: #202125;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background: #313236;
  border-radius: 8px;

  h1 {
    margin: 8px 0;
    font-size: 22px;
  }

  ion-icon {
    margin-bottom: 4px;
    width: 36px;
    height: 36px;
  }
}
