<ion-tabs class="new-bg">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/ultimas">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias" routerLink="/categorias/home">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
