header {
  display: flex;
  justify-content: space-between;
  // margin-top: 16px;

  align-items: center;
  padding: 0 16px;
  background: #202125;

  .left {
    display: flex;
    align-items: center;

    h1 {
      font-size: 24px;
      font-weight: 600;
      margin: 20px 0 20px 8px;
    }

    ion-back-button {
      color: #fff;
    }
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
